{{#> base}}
    {{#*inline 'title'}}Produto {{name}}{{/inline}}

    {{#*inline 'mainContent'}}
      <h1>Detalhes do Produto</h1>
      <h2>Name: {{name}}</h2>
      <p>ID: {{id}}</p>
      {{#if available_status}}
        <p>Disponibilidade: Disponível</p>
      {{else}}
        <p>Disponibilidade: Não Disponível</p>
      {{/if}}
      <p>Destinação: {{destination}}</p>
      <p>Taxa de Rentabilidade: {{profitability_rate}}%</p>
      <p>Prazo Mínimo: {{minimum_deadline}} meses</p>
      <p>Taxa de Administração: {{administration_rate}}%</p>
      <a href="/products">Voltar para a Lista</a>
    {{/inline}}
{{/base}}