<!DOCTYPE html>
<html>
<head>
  <title>Detalhes do Produto</title>
</head>
<body>
  <h1>Detalhes do Produto</h1>
  <h2>{{product.name}}</h2>
  <p>ID: {{product.id}}</p>
  <p>Disponibilidade: {{product.available_status}}</p>
  <p>Destinação: {{product.destination}}</p>
  <p>Taxa de Rentabilidade: {{product.profitability_rate}}%</p>
  <p>Prazo Mínimo: {{product.minimum_deadline}} meses</p>
  <p>Taxa de Administração: {{product.administration_rate}}%</p>
  <a href="/products">Voltar para a Lista</a>
</body>
</html>
